body {
    background-color: #f0f2fa;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

button {
    line-height: normal;
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
    text-transform: none;
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
    border: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    font-size: 100%;
    font: inherit;
}

a {
    text-decoration: none;
    color: #5f9ea0	;
}

a:hover {
    color: #34495e;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}